img{
    width: 100%;
    height: auto;
}
h1{
    color: white;
    font-weight: bold;
}
p{
    color: white;
}
a{
    background-color: #e50914;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #e50914;
    color: white;
    border: 1px solid white;
}